/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.ant-modal-body {
  padding: 0;
}

.ant-modal-header{
  border: none;
}

.modal-header_update{
  border: none;
}

.ant-modal-footer
{
  padding: 12px 20px;
  background: #f1f2f5;
  outline: none;
}

.ant-modal-close:focus{
  outline: none;
}
input{
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
